body{
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
}

@font-face { 
font-family: FontAwesome;/×定义font的名字×/ 
src: url('font/FontAwesome.otf');/*把下载的字体文件引入进来*/ 
} 


.clear {
	clear: both;
}



.index_icon{
	padding-top:80px; 

}

.index_title{
	margin-top: 30px;
}
.home-description{
	font-size: 20px;
	padding-top: 30px;
	width: 400px;
	margin: 0 auto;

}
.btn_skills{
	border: 2px solid #6E6E6E;
	font-family: 微软雅黑;
	border-radius: 0;
	margin-top:60px; 
	font-size: 18px;
	padding-left: 25px;
	padding-right: 28px;
}
.btn_contact{
	border: 2px solid #6E6E6E;
	font-family: 微软雅黑;
	border-radius: 0;
	margin-top:30px; 
	font-size: 18px;
	padding-left: 25px;
	padding-right: 28px;
}
.btn-back{
	border: 2px solid #6E6E6E;
	font-family: 微软雅黑;
	border-radius: 0;
	margin-top:30px; 
	font-size: 18px;
	padding-left: 25px;
	padding-right: 28px;
}

#info{
	padding-top: 50px;
	padding-left: 20px;
}